%heading {
  font-family: $font-display;
  font-weight: 400;
}
.heading-1 {
  @extend %heading;
  color: white;
  font-size: 3rem;
  font-family: $font-primary;
}
.heading-2 {
@extend %heading;
font-weight: 500;
font-size: 2rem;
&-light {
  color:$color-grey-light-1;
}
&-dark {
  color:$color-grey-dark-1;
}
}
.heading-3 {
@extend %heading;
font-size: 1.3rem;
font-weight: 400;
color: $color-primary;
@media only screen and (max-width: 800px) {

}

}
.heading-4 {
@extend %heading;
font-size: 1rem;
color: white;
font-weight: 600;
font-family: $font-primary;
&-light {
  color:$color-grey-light-1;
}
&-dark {
  color:$color-grey-dark-1;
}
@media only screen and (max-width: 520px) {
  font-size: 1.4rem;
  display: grid;
  justify-items: center;
}
}

.mb-sm { margin-bottom: 1rem;}
.mb-md { margin-bottom: 1.6rem; }
.mb-lg { margin-bottom: 2.2rem; }
.mb-hg { margin-bottom: 5rem; }
